* {
  font-family: montserrat, arial, sans-serif;
}

h1 {
  font-family: Pacifico, sans-serif;
  color: white;
  text-shadow: 1px 2px #000000;
  font-size: 3.2rem;
}

h2.header-text{
  font-family: 'Pacifico', cursive;
  color: #FB4D3D;
  font-size: 1.5rem;

}

p.popular-city{
  font-family: Courgette;

}


.small {
  font-size: .75rem;
}

.grey {
  color: grey
}

.light-grey{
  color: lightgray

}
