body {
  background-color: whitesmoke
}

.login {
  width: 100%;
  height: 100vh;
  background-color: #FB4D3D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contain {
  height: 70px;
  object-fit: contain;
}

.navbar{
  height: 45px;
  background-color: white;
}

.icon-container{
  height: 45px;
  width: 45px;
  margin-left: 16%;
}

.listing {
  width: 90%;
  margin: 5%;
  box-shadow: -5px 5px 5px grey;
}

.listing-price {
  color: #FB4D3D;
  position: absolute;
  top: 75%;
  right: 10%;
  font-weight: bold;
}

.fav-heart {
  position: absolute;
  top: 10%;
  right: 10%;
  color: #FB4D3D;
}

.icon {
  height: 90%;
  border-radius: 50%;
  border: 2px solid lightgray ;
}

.travel-header {
  /* padding-right: 0;
  padding-left: 0; */
  border-bottom: 1px solid lightgray;
  padding-bottom: 12%;
}


/* User Navigation App Drawer */
.sidenav-open {
  transition: 0.3s ease-in-out;
  height: 100%;
  position: fixed;
  right: 0;
  background-color: #EBEBEB;
  /* overflow-x: hidden; */
  padding-top: 40px;
  padding-right: 9%;
  padding-left: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-closed {
  height: 100vh;
  position: fixed;
  right: -160px;
  transition: 0.3s ease-in-out;
  background-color: #EBEBEB;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.overlay {
  position: absolute;
  margin-top: 45px;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.return-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;

}



/* popular city card */
.card-img-top.contain{
  height: 125px;
  object-fit: cover;
}

/* spacing */
.row.search {
  /* position: fixed; */
  margin-top: 55px;

}

.image-listing{
  height: 100%;
}

.hidden {
  display: none;
}
