body {
  background-color: whitesmoke
}

.login {
  width: 100%;
  height: 100vh;
  background-color: #FB4D3D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contain {
  height: 70px;
  object-fit: contain;
}

.navbar{
  height: 45px;
  background-color: white;
}

.icon-container{
  height: 45px;
  width: 45px;
  margin-left: 16%;
}


/* listing card */
.listing {
  margin: 5%;
  height: 115px;
  box-shadow: -3px 4px 7px grey;
}

.listing-price {
  color: #FB4D3D;
  position: absolute;
  top: 75%;
  right: 10%;
  font-weight: bold;
}

.fav-heart {
  position: absolute;
  top: 4%;
  right: 10%;
  color: #FB4D3D;
}

.icon {
  height: 90%;
  border-radius: 50%;
  border: 2px solid lightgray ;
}


/* inbox */

.inbox-icon-container{
  align-self: center;
  position: absolute;
  left: 7%;
}

.inbox-icon {
  background-color: gray;
  height: 50px;
  width: 50px;
  border: 2px solid lightgray;
  border-radius: 50%;
}

.inbox {
  background-color: transparent;
  text-align: center;
  border: hidden;
}

.inbox-border{
  border-bottom: 2px solid lightgray;
  width: 85%;
  border-radius: 45%;
}

.message-input{
  display: fixed;
  bottom: 50px;
}


/* sender & recipient messages */
.recipient-icon-container{
  align-self: center;
  left: 5%;
}

.sender-icon-container{
  align-self: center;
  right: 3%;
}

.messages {
  margin-bottom: 0;
}

.send-messages {
  z-index: 0;
}

.send-button {
  height: 38px;
}


.listing-icon {
  width: 10%;
  border-radius: 50%;
  border: 2px solid lightgray ;
}


.card-row {
  height: 100%
}


.travel-header {
  border-bottom: 1px solid lightgray;
  padding-bottom: 12%;
}


/* User Navigation App Drawer */
.sidenav-open {
  height: 100vh;
  width: 40%;
  background-color: #EBEBEB;
  transition: 0.3s;
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 1;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sidenav-closed {
  height: 100%;
  width: 0;
  background-color: #EBEBEB;
  transition: 0.3s;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 0;
  overflow: hidden;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.return-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

.main-screen{
  position: absolute;
  min-height: 86%;
  min-width: 100%;
  margin-top: 14%;
  margin-bottom: 12%
}

/* popular city card */
.card-img-top.contain{
  height: 125px;
  object-fit: cover;
}

/*message button */
.message-button{
  border: none
}

/* spacing */
.row.search {
  margin-top: 55px;
}

.image-listing{
  height: 100%;
}

.uni-button {
  background-color: #FB4D3D;
  border: 0;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  width: 170px;
  height: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.uni-button:hover {
  color: white;
  background-color: #dd4031;
  transition: 0.3s;
}


/* login modal */

.login-card {
  position: fixed;
  z-index: 1000;
  top: 40%;
  left: 25%;
  padding: 50px;
  width: 50%;
  background-color: whitesmoke;
}

/* delete modal */

.delete-card{
  position: fixed;
  z-index: 1000;
  top: 40%;
  padding: 50px;
  width: 100%;
  background-color: whitesmoke;
}


.hidden {
  display: none;
}
