body {
  background-color: whitesmoke
}

.login {
  width: 100%;
  height: 100vh;
  background-color: #FB4D3D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contain {
  height: 70px;
  object-fit: contain;
}

.navbar{
  height: 45px;
  background-color: white;
}

.icon-container{
  height: 45px;
  width: 45px;
  margin-left: 16%;
}

.icon {
  height: 90%;
  border-radius: 50%;
  border: 2px solid lightgray ;
}

.listing-icon {
  width: 10%;
  border-radius: 50%;
  border: 2px solid lightgray ;
}

.travel-header {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 1px solid lightgray;
  padding-bottom: 12%;
}

.sidenav-open {
  transition: 0.3s ease-in-out;
  height: 100%;
  position: fixed;
  right: 0;
  background-color: #EBEBEB;
  /* overflow-x: hidden; */
  padding-top: 40px;
  padding-right: 9%;
  padding-left: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-closed {
  height: 100vh;
  position: fixed;
  right: -160px;
  transition: 0.3s ease-in-out;
  background-color: #EBEBEB;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.overlay {
  position: absolute;
  margin-top: 45px;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.return-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

.hidden {
  display: none;
}
