body {
  background-color: whitesmoke
}

.login {
  width: 100%;
  height: 100vh;
  background-color: #FB4D3D;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Pacifico, sans-serif;
  color: white;
  text-shadow: 1px 2px #000000;
  font-size: 3.2rem;
}


.contain {
  height: 70px;
  object-fit: contain;
}
