* {
  font-family: montserrat, arial, sans-serif;
}
body {
  background-color: whitesmoke
}

h1 {
  font-family: Pacifico, sans-serif;
  color: white;
  text-shadow: 1px 2px #000000;
  font-size: 3.2rem;
}


.login {
  width: 100%;
  height: 100vh;
  background-color: #FB4D3D;
  display: flex;
  align-items: center;
  justify-content: center;
}


.contain {
  height: 70px;
  object-fit: contain;
}

.navbar{
  height: 45px;
  background-color: white;
}

h2 {
  font-family: 'Pacifico', cursive;
  color: #FB4D3D;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}

.icon-container{
  height: 45px;
  width: 45px;
  margin-left: 16%;
}

.icon {
  height: 100%;
  border-radius: 50%;
  border: 2px solid lightgray ;
}

.travel-header {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 1px solid lightgray;
  padding-bottom: 12%;
}

.sidenav-open {
  transition: 0.3s ease-in-out;
  height: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
  background-color: #EBEBEB;
  overflow-x: hidden;
  padding-top: 40px;
  padding-right: 9%;
  padding-left: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-closed {
  height: 100vh;
  position: fixed;
  right: -150px;
  transition: 0.3s ease-in-out;
  background-color: #EBEBEB;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 86%;
  background-color: black;
  opacity: 0.3;
  transition: all 0.3s ease;
}

.return-overlay {
  position: fixed;
  width: 49%;
  height: 86%;
}

.hidden {
  display: none;
}
