h2 {
  font-family: 'Pacifico', cursive;
  color: #FB4D3D;
}

.icon-container{
  height: 45px;
  width: 45px;
  margin-left: 16%;
}

.icon {
  height: 100%;
  border-radius: 50%;
  border: 2px solid lightgray ;
}

.travel-header {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 1px solid lightgray;
}
